<head>
        <meta charset="utf-8">
        <title>Molto Cresc Inc-旭日虫洞公司</title>
        <link href="http://mocri.shadowsong.cn/css/bootstrap.css" rel="stylesheet">
        <link href="http://mocri.shadowsong.cn/css/web.css" rel="stylesheet">
        <link href="http://mocri.shadowsong.cn/css/bootstrap-theme.min.css" rel="stylesheet">
        <script src="http://mocri.shadowsong.cn/js/jquery-1.11.1.js">#</script>
        <script src="http://mocri.shadowsong.cn/js/bootstrap.min.js"></script>
        <script src="http://mocri.shadowsong.cn/js/main.js"></script>
		<link rel="stylesheet" href="{{ "/css/pixyll.css" | prepend: site.baseurl }}" type="text/css">
    </head>