   <header class=" navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
               <ul class="nav navbar-nav navbar">
                <li>
                    <a href="/" id="brand">
                        <img style="margin-top: -5px;padding: 5px;" src="https://image.eveonline.com/Corporation/98355458_32.png" class="navbar-brand">
                        Molto Cresc Inc
                    </a>
                </li>
                <li>
                    <a href="http://blog.mocri.shadowsong.cn/%E5%BD%B1%E5%83%8F&%E8%B5%84%E6%96%99/2014/11/09/about-us/">关于我们</a>
                </li>
                <li>
                    <a href="http://blog.mocri.shadowsong.cn/doc&amp;vedio/2015/01/16/corporation-mission/">公司任务</a>
                </li>
                <li>
                    <a href="http://blog.mocri.shadowsong.cn/">影像&amp;资料</a>
                </li>
                <li>
                    <a href="https://docs.baihui.com/sheet/published.do?rid=mxpis00fe06ab45de4ae48500c5b154025615">公司财政</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">虫洞工具</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://mocri.shadowsong.cn/fleetUp/">FleetUp</a>
                        </li>
                        <li>
                            <a href="http://mocri.shadowsong.cn/shopCar/">代购管理</a>
                        </li>
                        <li>
                            <a href="http://mocri.shadowsong.cn/location/">成员定位</a>
                        </li>
                        <li>
                            <a href="http://mocri.shadowsong.cn/whSystem/">虫洞查询</a>
                        </li>
                    </ul>
                </li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                                            <li><a style="padding: 15px;" href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri=http://mocri.shadowsong.cn/&client_id=4672510d543d4f8cb428982e0ebc19a2&scope=&state=login"><img src="/images/EVE_SSO_Login_Buttons_Small_White.png"></a></li>
                                    </ul>
            </nav>
        </div>
    </header>
